import os
import requests
from bs4 import BeautifulSoup
import telebot
from telebot import types
import random
import uuid
import re
import pycountry
import time
from faker import Faker
from Strip import Payment
